* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
}

.dados {
  margin-top: 30px;
}

.dados, .endereco, .data {
  padding: 10px;
  width: 700px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border-radius: 10px;
}

.bairro_cidade {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.rua_numero_complemento {
  display: flex;
  flex-direction: row;
}

#rua {
  width: 450px;
  margin-right: 10px;
}

#numero {
 width: 105px;
 margin-right: 10px;
}

#complemento {
 width: 105px;
}

#bairro {
  width: 335px;
  margin-right: 10px;
}

#cidade {
  width: 335px;
}
 
.btn {
  width: 300px;
  height: 45px;
}