* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Teko';
}

body {
  background: #0063AF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}

img {
  width: 350px;
  height: 300px;
}

h1 { 
  font: bold;
  font-family: 'Teko';
  color: #e4c023;
}

form {
  width: 100%;
  height: 100%;
}

.dados {
  margin-top: 30px;
}

.dados, .endereco, .data {
  background: #fff;
  padding: 10px;
  border: 1px solid #0063AF;
  margin-bottom: 20px;
  border-radius: 10px;
}

.divButton {
  text-align: center;
}

#btnSubmit {
  background: #e4c023;
  border: 1px solid #e4c023;
  width: 300px;
  height: 45px; 
  margin-bottom: 50px;
  color: #fff;
}

legend {
  color: #0063AF;
}

label {
  color: #0063AF;
}

.apoiadores h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #e4c023;
}

.logo1 {
  display: flex;
  align-items: center;
  justify-items: center;

  width: 150px;
  height: 150px;
  background: #fff;

  margin-bottom: 20px;
}

@media ( min-width: 700px) {  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cpf_email {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  #email {
    width: 450px;
    margin-right: 10px;
  }
  
  #cpf {
    width: 218px;
  }
  
  .bairro_cidade {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  
  .rua_numero_complemento {
    display: flex;
    flex-direction: row;
  }
  
  #rua {
    width: 450px;
    margin-right: 10px;
  }
  
  #numero {
   width: 105px;
   margin-right: 10px;
  }
  
  #complemento {
   width: 105px;
  }
  
  #bairro {
    width: 335px;
    margin-right: 10px;
  }
  
  #cidade {
    width: 335px;
  }
   
  .data_horario {
    display: flex;
    flex-direction: row;
  }

  #data {
    width: 335px;
    margin-right: 10px;
  }

  #horario {
    width: 335px;
  }

  .logos {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .logo1 {
    display: flex;
    align-items: center;
    justify-items: center;
  
    width: 150px;
    height: 150px;
    background: #fff;
  
    margin-bottom: 20px;
    margin-left: 20px;
  }
}
